---
Language: Cpp

AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'false'
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLambdasOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
BasedOnStyle: Google
BinPackParameters: 'false'
BreakBeforeBraces: Attach
ColumnLimit: 120
IndentCaseLabels: 'false'
TabWidth: 2
UseTab: ForIndentation

...
